---
import BaseHead from '../components/BaseHead.astro';
import DiagramLightbox from '../components/DiagramLightbox.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

interface Props {
	title: string;
	description: string;
	bodyClass?: string;
	socialImage?: string;
	ogType?: 'website' | 'article';
	author?: string;
	publishedTime?: Date;
	modifiedTime?: Date;
}

const { title, description, bodyClass, socialImage, ogType, author, publishedTime, modifiedTime } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title}
			description={description}
			socialImage={socialImage}
			ogType={ogType}
			author={author}
			publishedTime={publishedTime}
			modifiedTime={modifiedTime}
		/>
	</head>
	<body class={bodyClass}>
		<a class="skip-link" href="#content">Skip to content</a>
		<Header />
		<main id="content" tabindex="-1">
			<slot />
		</main>
		<Footer />
		<DiagramLightbox />
	</body>
</html>
